{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock %}
{% block content %}
<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                {% for slider in sliders %}
                <div class="carousel-item {{ slider.css_selector }}"
                     style="background-image: url({{ slider.image.url }})">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">{{ slider.title }}</h2>
                            <p class="animate__animated animate__fadeInUp">{{ slider.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>
<!-- End Hero Section -->

<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
            {% for about in abouts %}
            <header class="section-header">
                <h3>{{ about.title }}</h3>
                <p>{{ about.description }}</p>
            </header>
            {% endfor %}

            <div class="row about-cols">
                {% for business_plane in business_planes %}
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="about-col">
                        <div class="img">
                            <img src="{% static 'portfolio/assets/img/about-mission.jpg' %}" alt="" class="img-fluid">
                            <div class="icon"><i class="bi bi-bar-chart"></i></div>
                        </div>
                        <h2 class="title"><a href="#">{{ business_plane.title }}</a></h2>
                        <p>{{ business_plane.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container" data-aos="fade-up">
            {% for service in services %}
            <header class="section-header wow fadeInUp">
                <h3>{{ service.title }}</h3>
                <p>{{ service.description }}</p>
            </header>
            {% endfor %}

            <div class="row">
                {% for services_type in services_types %}
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">{{ services_type.name }}</a></h4>
                    <p class="description">{{ services_type.description }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3 class="section-title">Our Portfolio</h3>
            </header>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class=" col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        {% for category in categories %}
                        <li data-filter=".filter-{{ category.name }}">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {% for portfolio in portfolios %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{ portfolio.category }}">
                    <div class="portfolio-wrap">
                        <figure>
                            {% for img in portfolio.portfolio_image.all %}
                            <img src="{{ img.image.url }}" class="img-fluid" alt="">

                            <a href="{{ img.image.url }}" data-lightbox="portfolio"
                               data-title="App 1"
                               class="link-preview"><i class="bi bi-plus"></i>
                            </a>
                            {% endfor %}

                            <a href="portfolio-details.html" class="link-details" title="More Details">
                                <i class="bi bi-link"></i>
                            </a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">{{ portfolio.title }}</a></h4>
                            <p>{{ portfolio.category }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients">
        <div class="container" data-aos="zoom-in">

            <header class="section-header">
                <h3>Our Clients</h3>
            </header>

            <div class="clients-slider swiper-container">

                <div class="swiper-wrapper align-items-center">
                    {% for client in clients %}
                    <div class="swiper-slide">
                        <img src="{{ client.image.url }}" class="img-fluid" alt="">
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Our Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3>Team</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">
                {% for team in teams %}
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <img src="{{ team.photo.url }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{ team.name }}</h4>
                                <span>{{ team.position }}</span>
                                <div class="social">
                                    {% if team.soc_network_facebook %}
                                    <a href="{{ team.soc_network_facebook }}" target="_blank" aria-label="facebook"><i
                                            class="bi bi-facebook"></i></a>
                                    {% endif %}

                                    {% if team.soc_network_instagram %}
                                    <a href="{{ team.soc_network_instagram }}" target="_blank" aria-label="instgram"><i
                                            class="bi bi-instagram"></i></a>
                                    {% endif %}

                                    {% if team.soc_network_linkedin %}
                                    <a href="{{ team.soc_network_linkedin }}" target="_blank" aria-label="linkedin"><i
                                            class="bi bi-linkedin"></i></a>
                                    {% endif %}

                                    {% if team.soc_network_twitter %}
                                    <a href="{{ team.soc_network_twitter }}" target="_blank" aria-label="twitter"><i
                                            class="bi bi-twitter"></i></a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row contact-info">

                {% for arrangement in arrangements %}
                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <address>{{ arrangement.address }}</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h3>Phone Number</h3>
                        {% for arrangement_phone in arrangement.phone.all %}
                        <p><a href="tel:{{ arrangement_phone.phone }}">{{ arrangement_phone.phone }}</a></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        {% for arrangement_email in arrangement.email.all %}
                        <p><a href="mailto:{{ arrangement_email.email }}">{{ arrangement_email.email }}</a></p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="form">
                <form action="#" method="post" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                               required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                  required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock %}