{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} {{ block.super }}: Haqqımızda {% endblock %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Haqqımızda</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" class="needs-validation" novalidate="">
                                {% csrf_token %}
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.title.id_for_label }}">Başlıq</label>
                                    <div class="col-sm-12">
                                        {{ form.title }}
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.description.id_for_label }}">Məzmun</label>
                                    <div class="col-sm-12">
                                        {{ form.description }}
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <div class="col-sm-12 col-md-7">
                                        <button class="btn btn-success">Yadda saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
