{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Yeni sosial şəbəkə</h4>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:index' %}">Əsas səhifə</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:social-network-list' %}">Sosial
                                    şəbəkələr</a></li>
                            </ol>
                        </nav>
                        <div class="card-body">
                            <form action="{% url 'dashboards:create-social-network' %}" method="post"
                                  class="needs-validation" novalidate="">
                                {% csrf_token %}
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.name.id_for_label }}">Sosial şəbəkə adı</label>
                                    <div class="col-sm-12">
                                        {{ form.name }}
                                        <div class="invalid-feedback">
                                            Bu sahə boş ola bilməz!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.url.id_for_label }}">Url</label>
                                    <div class="col-sm-12">
                                        {{ form.url }}
                                        <div class="invalid-feedback">
                                            Doğru url daxil edin!
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="form-label">İkon seçin</label>
                                    <div class="selectgroup selectgroup-pills">
                                        {% for choice in form.icon %}
                                        <label class="selectgroup-item">
                                            {{ choice.tag|safe }}

                                            <span class="selectgroup-button selectgroup-button-icon">
                                                <i class="{{ choice.choice_label }}"></i>
                                            </span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label">Sosial şəbəkəni aktiv etmək üçün çekboksu aktiv edin
                                    </div>
                                    <label class="custom-switch mt-2" for="{{ form.status.id_for_label }}">
                                        {{ form.status }}
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Status: Activ / Passiv</span>
                                    </label>
                                </div>

                                <div class="form-group row mb-4">
                                    <div class="col-sm-12 col-md-7">
                                        <button class="btn btn-success">Yadda saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
