{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ikonlar</h4>
                        </div>
                        <div class="buttons mx-4 mt-2">
                            <a href="{% url 'dashboards:create-icon' %}" class="btn btn-success">Yenisini əlavə
                                edin</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                    <tr>
                                        <th>İkon adı</th>
                                        <th>Ikon simgəsi</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for icon in icons %}
                                    <tr>
                                        <td>{{ icon.name }}</td>
                                        <td><i class="{{ icon.icon_code }}"></i></td>

                                        <td class="cell_btn text-center"><a
                                                href="{% url 'dashboards:update-icon' icon.pk %}"
                                                class="btn btn-primary"><i class="fas fa-pen-square"></i></a></td>
                                        <td class="cell_btn text-center">
                                            <a href="{% url 'dashboards:icon_delete' icon.pk %}"
                                               class="btn btn-danger swal" data-icon-id="{{ icon.pk }}"><i
                                                    class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}