{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} {{ block.super }}: İkon redakte {% endblock %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Redakte edin</h4>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:index' %}">Əsas səhifə</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{% url 'dashboards:icon-lists' %}">Ikonlar</a></li>
                            </ol>
                        </nav>
                        <div class="card-body">
                            <form class="needs-validation" novalidate=""
                                  action="#" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.name.id_for_label }}">Ikon adı</label>
                                    <div class="col-sm-12">
                                        {{ form.name }}
                                        <div class="invalid-feedback">
                                            Bu sahə boş ola bilməz!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.icon_code.id_for_label }}">Ikon kodu</label>
                                    <div class="col-sm-12">
                                        {{ form.icon_code }}
                                        <div class="invalid-feedback">
                                            Bu sahə boş ola bilməz!
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <div class="col-sm-12 col-md-7">
                                        <button class="btn btn-success">Yadda saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
