{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Layihələr</h4>
                        </div>
                        <div class="buttons mx-4 mt-2">
                            <a href="{% url 'dashboards:create-portfolio' %}" class="btn btn-success">Yenisini əlavə
                                edin</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                    <tr>
                                        <th>Layihə adı</th>
                                        <th>Kateqoriya</th>
                                        <th>Müştəri</th>
                                        <th>Təhvil tarixi</th>
                                        <th>Status</th>
                                        <th>Şəkil</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for portfolio in portfolios %}
                                    <tr>
                                        <td>{{ portfolio.title }}</td>
                                        <td>{{ portfolio.category }}</td>
                                        <td>{{ portfolio.client }}</td>
                                        <td>{{ portfolio.delivery_date }}</td>
                                        <td>
                                            {% if portfolio.status == True %}
                                            <div class="badge badge-success badge-shadow">Activ</div>
                                            {% else %}
                                            <div class="badge badge-danger badge-shadow">Passiv</div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for img in portfolio.portfolio_image.all %}
                                            <img alt="image" src="{{ img.image.url }}" width="60">
                                            {% endfor %}
                                        </td>
                                        <td class="cell_btn text-center"><a
                                                href="{% url 'dashboards:update-portfolio' portfolio.pk %}"
                                                class="btn btn-primary"><i class="fas fa-pen-square"></i></a></td>
                                        <td class="cell_btn text-center">
                                            <a href="{% url 'dashboards:portfolio_delete' portfolio.pk %}"
                                               class="btn btn-danger swal" data-portfolio-id="{{ portfolio.pk }}"><i
                                                    class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}