{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-header">
                            <h4>Tərəfdaşlar</h4>

                        </div>
                        <div class="buttons mx-4 mt-2">
                            <a href="{% url 'dashboards:create-partner' %}" class="btn btn-success">Yenisini əlavə
                                edin</a>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped table-md">
                                    <tr>
                                        <th>Şəkil</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    {% for partner in partners %}
                                    <tr id="buisnessCell">
                                        <td><img src="{{ partner.image.url }}" alt="Tərəfdaş şəkil" width="100"></td>
                                        {% if partner.active == True %}
                                        <td>
                                            <div class="badge badge-success">Active</div>
                                        </td>
                                        {% else %}
                                        <td>
                                            <div class="badge badge-danger">Passiv</div>
                                        </td>
                                        {% endif %}

                                        <td class="cell_btn"><a
                                                href="{% url 'dashboards:update-partner' partner.pk %}"
                                                class="btn btn-icon btn-primary"><i
                                                class="far fa-edit"></i></a></td>
                                        <td class="cell_btn">
                                            <a
                                                    href="{% url 'dashboards:partner_delete' partner.pk %}"
                                                    class="btn btn-icon btn-danger swal"
                                                    data-partner-id="{{ partner.pk }}">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
