{% load static %}
<nav class="navbar navbar-expand-lg main-navbar sticky">

    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
            </a></li>
        </ul>
    </div>

    <ul class="navbar-nav navbar-right">

        <!--Message Start-->
        <li class="dropdown dropdown-list-toggle">

            <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                <span class="badge headerBadge1">6</span>
            </a>

            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Mesajlar
                    <div class="float-right">
                        <a href="#">Hamısını oxundu işarələ</a>
                    </div>
                </div>

                <div class="dropdown-list-content dropdown-list-message">
                    <a href="#" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="{% static '/dashboard/assets/img/users/user-1.png' %}"
                                 class="rounded-circle">
                        </span>
                        <span class="dropdown-item-desc">
                            <span class="message-user">John Deo</span>
                            <span class="time messege-text">Please check your mail !!</span>
                            <span class="time">2 Min Ago</span>
                        </span>
                    </a>
                </div>

                <div class="dropdown-footer text-center">
                    <a href="#">Hamısına bax <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <!--Message End-->

        <!--User Start-->
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                {% if user.image %}
                <img alt="image" src="{{ user.image.url }}" class="user-img-radious-style">
                {% else %}
                    <figure class="avatar mr-2 avatar-sm bg-success text-white" data-initial="{{ user.first_name|slice:':1' }} {{ user.last_name|slice:':1' }}"></figure>
                {% endif %}
                <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Salam, {{ user.first_name }} {{ user.last_name }}</div>
                {% if user.is_staff %}
                <div class="dropdown-title"><span class="text-success">Super user</span></div>
                {% endif %}
                <a href="{% url 'accounts:profile' %}" class="dropdown-item has-icon"> <i class="far fa-user"></i>
                    Profil</a>
                {% if user.is_staff %}
                <a href="{% url 'accounts:user-list' %}" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>İstifadəçilər</a>
                {% endif %}
                <div class="dropdown-divider"></div>

                <a href="{% url 'accounts:logout' %}" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i>Çıxış</a>
            </div>
        </li>
        <!--User End-->

    </ul>
</nav>