{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <!-- Logo Start -->
        <div class="sidebar-brand">
            <a href="index.html">
                <img alt="image" src="{% static 'dashboard/assets/img/logo/logo.png' %}" class="header-logo"/>
                <span class="logo-name">Otika</span>
            </a>
        </div>
        <!-- Logo End -->

        <ul class="sidebar-menu">

            <li class="dropdown">
                <a href="{% url 'dashboards:index' %}" class="nav-link"><i data-feather="monitor"></i><span>Admin panel</span></a>
            </li>
            <li class="menu-header">Pages</li>
            <!-- About Start -->
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="briefcase"></i><span>Haqqımızda</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'dashboards:about' pk=1 %}">Haqqımızda</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:business-plan' %}">Biznes plan</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:partners-list' %}">Tərəftaşlar</a></li>
                </ul>
            </li>
            <!-- About End -->

            <!-- Portfolio Start -->
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="command"></i><span>Layihələr</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'dashboards:portfolio-list' %}">Layihələr</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:category-list' %}">Kateqoriyalar</a></li>
                </ul>
            </li>
            <!-- Portfolio End -->

            <!-- Slider Start -->
            <li>
                <a href="{% url 'dashboards:slider-list' %}" class="nav-link">
                    <i data-feather="mail"></i><span>Slayderlər</span>
                </a>
            </li>
            <!-- Slider End -->

            <!-- Services Start -->
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="mail"></i><span>Xidmətlər</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'dashboards:service' pk=1 %}">Xidmət başlıq</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:services-type-list' %}">Xidmət növləri</a></li>
                </ul>
            </li>
            <!-- Services End -->

            <!-- Team Start -->
            <li>
                <a href="{% url 'dashboards:team-list' %}" class="nav-link">
                    <i data-feather="mail"></i><span>Əməkdaşlar</span>
                </a>
            </li>
            <!-- Team End -->

            <!-- Testimations Start -->
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="mail"></i><span>Şərhlər</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="email-inbox.html">Inbox</a></li>
                    <li><a class="nav-link" href="email-compose.html">Compose</a></li>
                    <li><a class="nav-link" href="email-read.html">read</a></li>
                </ul>
            </li>
            <!-- Testimations End -->

            <!-- Arrangements Start -->
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="mail"></i><span>Parametrlər</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'dashboards:icon-lists' %}">Ikonlar</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:phone-list' %}">Telefon nömrələri</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:email-list' %}">Email ünvanlar</a></li>
                    <li><a class="nav-link" href="{% url 'dashboards:social-network-list' %}">Sosial şəbəkə</a></li>
                    <li><a class="nav-link" href="email-read.html">Əlaqə</a></li>
                </ul>
            </li>
            <!-- Arrangements End -->

        </ul>
    </aside>
</div>