<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block title %}Admin{% endblock %}</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'dashboard/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/select2/dist/css/select2.min.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/main.css' %}">
    <link href="{% static 'portfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'dashboard/assets/img/favicon.ico' %}"/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <!-- Nav Content Start -->
        {% include 'dashboard/inc/_nav.html' %}
        <!-- Nav Content End -->


        <!-- Nav Sidebar Start -->
        {% include 'dashboard/inc/_sidebar.html' %}
        <!-- Nav Sidebar End -->

        <!-- Main Content Start -->
        {% block content %}{% endblock %}
        <!-- Main Content End -->

        <!-- Footer Content Start -->
        {% include 'dashboard/inc/_footer.html' %}
        <!-- Footer Content End -->
    </div>
</div>
<!-- General JS Scripts -->
<script src="{% static 'dashboard/assets/js/app.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/assets/bundles/datatables/datatables.min.css' %}">
<link rel="stylesheet"
      href="{% static 'dashboard/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">

<!-- JS Libraies -->
<script src="{% static 'dashboard/assets/bundles/cleave-js/dist/cleave.min.js' %}"></script>
<script src="{% static 'dashboard/assets/bundles/cleave-js/dist/addons/cleave-phone.us.js' %}"></script>
<script src="{% static 'dashboard/assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'dashboard/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>

<!-- Page Specific JS File -->
<script src="{% static 'dashboard/assets/js/page/datatables.js' %}"></script>

<!-- Template JS File -->
<script src="{% static 'dashboard/assets/js/scripts.js' %}"></script>

<!-- Custom JS File -->
<script src="{% static 'dashboard/assets/js/custom.js' %}"></script>
<script>
    setTimeout(function () {
        if ($('#msg').length > 0) {
            $('#msg').fadeOut();
        }
    }, 3000)
</script>
</body>


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->
</html>