{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>İstifadəçilər</h4>
                        </div>
                        <div class="buttons mx-4 mt-2">
                            <a href="{% url 'accounts:registration' %}" class="btn btn-success">Yenisini əlavə
                                edin</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>İstifadəçi Adı</th>
                                        <th>İstifadəçi soyadı</th>
                                        <th>User name</th>
                                        <th>Şəkil</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user_list in user_lists %}
                                    <tr>
                                        <td>{{ user_list.first_name }}</td>
                                        <td>{{ user_list.last_name }}</td>
                                        <td>{{ user_list.username }}</td>
                                        <td>
                                            {% if user_list.image %}
                                            <figure class="avatar mr-2"><img src="{{ user_list.image.url }}" alt="{{ user_list.username }}"></figure>
                                            {% else %}
                                            <figure class="avatar mr-2 bg-warning text-white" data-initial="{{ user_list.first_name|slice:':1' }}{{ user_list.last_name|slice:':1' }}"></figure>
                                            {% endif %}
                                        </td>
                                        <td class="cell_btn text-center">
                                            <a href="{% url 'accounts:user_delete' user_list.pk %}"
                                               class="btn btn-danger swal" data-portfolio-id="{{ portfolio.pk }}"><i
                                                    class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}