{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Redakte edin</h4>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:index' %}">Əsas səhifə</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:team-list' %}">Əməkdaşlar</a>
                                </li>
                            </ol>
                        </nav>
                        <div class="card-body">
                            <form action="#" method="post"
                                  class="needs-validation" novalidate="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.name.id_for_label }}">Ad</label>
                                    <div class="col-sm-12">
                                        {{ form.name }}
                                        <div class="invalid-feedback">
                                            Bu sahə boş ola bilməz!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.position.id_for_label }}">Vəzifə</label>
                                    <div class="col-sm-12">
                                        {{ form.position }}
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.photo.id_for_label }}">Şəkil</label>
                                    <div class="col-sm-12">
                                        {{ form.photo }}
                                        <div class="invalid-feedback">
                                            Şəkil seçin!
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.soc_network_facebook.id_for_label }}">Facebook</label>
                                    <div class="col-sm-12">
                                        {{ form.soc_network_facebook }}
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.soc_network_instagram.id_for_label }}">Instagram</label>
                                    <div class="col-sm-12">
                                        {{ form.soc_network_instagram }}
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.soc_network_linkedin.id_for_label }}">Linkedin</label>
                                    <div class="col-sm-12">
                                        {{ form.soc_network_linkedin }}
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-left col-12"
                                           for="{{ form.soc_network_twitter.id_for_label }}">Twitter</label>
                                    <div class="col-sm-12">
                                        {{ form.soc_network_twitter }}
                                    </div>
                                </div>


                                <div class="form-group row mb-4">
                                    <div class="col-sm-12 col-md-7">
                                        <button class="btn btn-success">Yadda saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
