{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} {{ block.super }}: Yeni email {% endblock %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Yeni layihə</h4>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboards:index' %}">Əsas səhifə</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{% url 'dashboards:email-list' %}">Email ünvanlar</a></li>
                            </ol>
                        </nav>
                        <div class="card-body">
                            <form class="needs-validation" novalidate=""
                                  action="{% url 'dashboards:create-email' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">Email ünvan</label>
                                    {{ form.email }}
                                    <div class="invalid-feedback">
                                        Bu sahə boş ola bilməz!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label">Email ünvanı aktiv etmək üçün çekboksu aktiv edin</div>
                                    <label class="custom-switch mt-2" for="{{ form.status.id_for_label }}">
                                        {{ form.status }}
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Status: Activ / Passiv</span>
                                    </label>
                                </div>

                                <div class="form-group row mb-4">
                                    <div class="col-sm-12 col-md-7">
                                        <button class="btn btn-success">Yadda saxla</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
