{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            {% include 'dashboard/inc/_message.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Email ünvanlar</h4>
                        </div>
                        <div class="buttons mx-4 mt-2">
                            <a href="{% url 'dashboards:create-email' %}" class="btn btn-success">Yenisini əlavə
                                edin</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for email in emails %}
                                    <tr>
                                        <td>{{ email.email }}</td>
                                        <td>
                                            {% if email.status == True %}
                                            <div class="badge badge-success badge-shadow">Activ</div>
                                            {% else %}
                                            <div class="badge badge-danger badge-shadow">Passiv</div>
                                            {% endif %}
                                        </td>
                                        <td class="cell_btn text-center"><a
                                                href="{% url 'dashboards:update-email' email.pk %}"
                                                class="btn btn-primary"><i class="fas fa-pen-square"></i></a></td>
                                        <td class="cell_btn text-center">
                                            <a href="{% url 'dashboards:email_delete' email.pk %}"
                                               class="btn btn-danger swal" data-email-id="{{ email.pk }}"><i
                                                    class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}